___
## Módulo 3: Introducción a las librería Pandas.
___

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline

### 3.1. Introducción a Pandas I.

**3.1.1.**  Crea un dataframe a partir de la siguiente lista y diccionario.

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(data, index=labels)
df

**3.1.2.**  Muestra una descripción de los datos.

In [ ]:
df.describe()

**3.1.3.**  Muestra las 2 primeras filas.

In [ ]:
df.loc[['a','b']]

In [ ]:
df.iloc[0:2, :]

**3.1.4.**  Muestra la tercera columna.

In [ ]:
df.iloc[:, 3]

**3.1.5.**  Selecciona las columnas animal y age.

In [ ]:
df.loc[:, ['animal', 'age']]

**3.1.6.**  Elimina una de las columnas.

In [ ]:
del df['animal']

In [ ]:
df.drop(['visits'], axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop('age', axis=1)

**3.1.8.**  Elimina una de las filas.

In [ ]:
df.drop('a', axis=0)

**3.1.9.**  Crea una columna nueva con los valores que quieras

In [ ]:
df['new'] = range(10)

In [ ]:
df

___
### 3.2. Introducción a Pandas II.

**3.2.1.** Seleciona los datos en las filas 3, 4 y 8 y en las columnas  animal y age.

In [ ]:
df.iloc[[2, 3, 7]].loc[:, ['animal', 'age']]

**3.2.2.** Reindexa el dataframe usando números sequenciales empezando por el cero.

In [ ]:
df.index = range(df.shape[0])

In [ ]:
df

**3.2.3.** Seleciona las filas donce el número de vistas es mayor que 2.

In [ ]:
df[df.visits > 2]

**3.2.4.** Usando los siguientes daframe:

In [ ]:
df_a = pd.DataFrame(np.random.randint(1, 10, 10),
                    index=np.arange(1, 11))
df_a

In [ ]:
df_b = pd.DataFrame(np.random.randint(1, 10, 10),
                    index=np.arange(0, 10))
df_b

Calcula la resta de ambos y explica el resultado.

In [ ]:
df_a - df_b

___
### 3.3. Introducción a Pandas III.

**3.3.1.** Utilizando el siguiente dataframe:

In [ ]:
df = pd.DataFrame({"price": [5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})

**3.3.2.** Calcula la media del precio.

In [ ]:
df.mean()

In [ ]:
df.price.mean()

**3.3.3.** Calcula la mutltiplicación de price x hours.

In [ ]:
df.price*df.hours

**3.3.4.** Crea un función que retorne 'coffee', cuando reciba 1 y 'nothing' cuando reciba 0.

In [ ]:
def coffe_fun(x):
    if x == 1:
        return 'coffee'
    return 'nothing'

In [ ]:
my_fun = lambda x: 'coffee' if x==1 else 'nothing'

In [ ]:
coffe_fun(1)

In [ ]:
my_fun(0)

**3.3.5.** Cambia los valores de la columna caffienated usándola.

In [ ]:
df.caffienated.map(my_fun)

In [ ]:
df['caffienated'] = df.caffienated.map(my_fun)
df